name: update

on:
  schedule:
    - cron: "0 9 * * *" # every day at 09:00 UTC
  workflow_dispatch:

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Initialize
        id: init
        uses: spotdemo4/nix-init@79b387f631ad8b2a4386b55ed3c18bc36302b218 # v1.15.0
        with:
          app_id: ${{ vars.CLIENT_ID }}
          app_key: ${{ secrets.PRIVATE_KEY }}
          shell: update

      - name: Renovate
        run: renovate
        env:
          RENOVATE_CONFIG_FILE: .github/renovate.json
          RENOVATE_TOKEN: ${{ steps.init.outputs.token }}
